<div id="parallax" class="parallax-container">
    <div class="parallax"><%= image_tag "monopoly2.jpg" %></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">GameBook</h2>
      <p class="grey-text text-darken-3 lighten-3">Know the game before the player. Don't hate the player, hate the game.</p>
    </div>
  </div>
  <!-- <div class="parallax-container">
    <div class="parallax"><img src="images/parallax2.jpg"></div>
  </div> -->
